<div class="form-inline item_form">
  <div class="form-group mb-2">
    <label>New Item : </label>
  </div>
  <div class="form-group mx-sm-2 mb-2">
    <input class="form-control" type="text" name="name" placeholder='item name'>
  </div>
  <div class="form-group mx-sm-2 mb-2">
    <input class="form-control" type="text" name="price" placeholder='item price'>
  </div>
  <div class="form-group mx-sm-2 mb-2">
    <input class="form-control" type="text" name="cost" placeholder='item cost'>
  </div>
  <div class="form-group mx-sm-2 mb-2">
    <input class="form-control" type="text" name="quantity" placeholder='item quantity'>
  </div>
  <div class="form-group mx-sm-2 mb-2">
    <input class="form-control" type="text" name="image_url" placeholder='item image URL'>
  </div>  
  <div class="form-group mx-sm-2 mb-2">
    <select class="form-control" name="category">
      <option value="Drink">Drink</option>
      <option value="Snack">Snack</option>
    </select>
  </div>
  <button class='btn btn-primary mb-2'>Create</button>
</form>