<div class="row mt-5 justify-content-center">
  <div class="card">
    <div class="card-header">
      登入
    </div>
    <div class="card-body">
        <form action="/user/login" method="post">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class='form-control' placeholder='iss email'>
          </div>
          <div class="form-group">
            <label for="member_type">Member Type</label>
            <select name="member_type" class="form-control">
              <option value="CurrentStudent">Current Student</option>
              <option value="Admin">Admin</option>
            </select>
          </div>
          <button type='submit' class='btn btn-primary'> Login </button>
        </form>
    </div>
  </div>
</div>