<div class="row container-fluid mt-3">
  <div class="col-4">
    <div class="card">
      <div class="card-body text-center">
        <div class="card-title"> 篩選器 </div>
        
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="card">
      <div class="card-body text-center">
        <div class="card-title"> 交易紀錄 </div>
      </div>
    </div>
  </div>
</div>