<% if @current_user %>

<div class="row mt-5 container-fluid">
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        Transaction Record
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <% @current_user.transactions('debit').each do |transaction| %>
            <li class="shadow p-2 mb-1 bg-white rounded list-group-item paid-<%= transaction.status%>"> 
              <%= "Item : #{transaction.item.name} ; 
                    Price : #{transaction.amount} ;
                    Type : #{transaction.type} debit ; 
                    Time : #{transaction.created_at.strftime(" %H:%M:%S - %b %d %Y")} ;"
              %> 
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        Your Favorite Foods
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <% @current_user.favorite_food(10).each do |food| %>
            <li class="shadow p-2 mb-1 bg-white rounded list-group-item"> 
              <%= " #{food[:item].name} : $#{food[:item].price} by #{food[:amount]} times"
              %> 
            </li>  
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        Purchased Curt
      </div>
      <div class="card-body" id="chart-test">

      </div>
    </div>  
  </div>
</div>  

<% else %>
  <%= render :'shared/login_form' %>
<% end %>